body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px
}
.nameHiglite{
    color:orange;
}
.halfWidth{
    width:40%;
    float: left;
    margin-left:5%;
    padding:2%
}
.halfWidth img{
width:100%
}